/* .navbar {
    max-width: 100%;
    background: gold;

}

 ul li{
    display: inline;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 1rem;
    position: relative;



}
img{
    position: relative;
}
.img-li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background: gold;

    
} */


.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    color: #49557e;
    gap: 20px;
    padding: 1rem;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap:40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{

background-color: #eb6d1f;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #eb6d1f;
}
.navbar li{
    cursor: pointer;

}
.navbar-serach-icon{
    position: relative;

}

.navbar-serach-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #53c1f1e9 ;
    border-radius: 5px;
    top:-8px;
    right: -8px;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;

    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap:30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 23px;
    }
    
}



@media (max-width:900px) {
    .navbar .logo{
        width: 120px;

    }
    .navbar-menu{
        gap: 150px;
        font-size: 16px;
    }
    .navbar-right{
        gap:20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    
}

@media (max-width:750px) {
   
    .navbar-menu{
       display: none;
    }
 
    
}